.flowchart-container{
	width:100%;
	padding-left:20%;
}
.section{

width:900px;
height:150px;


}
.node1{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:9px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
	
}

.top{
	width:70px;
	height:35px;
	
}
.top>span{
	
	
	text-align: center;
	right:0;
}

.bottom{
	width:68px;
	height:33px;
	border-radius: 0 0 70px 70px;
	background-color: #4183D7;
	color: white;
	text-align:center;
	line-height: 30px;
	font-size:20px;
	
}
.badge{
    background:#F5AB35;
    width: 25px;
    height: 25px;
    margin-left: 30px;
	margin-top: -8px;
    border-radius: 50%;
    position:relative;
	line-height: 20px;
	border:1px solid #3A539B;
	
   
}


.node2{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}


.gap{
	width:150px;
	height:70px;
	
	float : left;
	margin-top : 50px;
	margin-left : 50px;
}
.node7{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}
.node8{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}
.node9{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}

.gap-top{
	width:60px;
	height:60px;
	
	float : left;
	margin-top : 50px;
	margin-left : 50px;
}
.node3{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}
.node4{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}

.gap-bottom{
	width:70px;
	height:70px;
	
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: white;
	border-color:#3A539B;
}
.node5{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}
.node6{
	width:70px;
	height:70px;
	background-color: #E4F1FE;
	border: 1px solid black;
	border-radius: 50%;
	float : left;
	margin-top : 50px;
	margin-left : 50px;
	text-align:center;
	font-size:10px;
	line-height: 8px;
	color: black;
	border-color:#3A539B;
}

@media screen and (max-width:680px) {
.flowchart-container{
	
	 overflow:scroll;
	
}
}