<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="userService" class="com.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>

	<bean name="userDAO" class="com.dao.impl.UserDAOImpl"/>
	
	<bean id="batchService" class="com.service.impl.BatchServiceImpl">
		<property name="batchDAO" ref="batchDAO"></property>
	</bean>

	<bean name="batchDAO" class="com.dao.impl.BatchDAOImpl"/>
	
	<bean id="imageService" class="com.service.impl.ImageServiceImpl">
		<property name="imageDAO" ref="imageDAO"></property>
	</bean>

	<bean name="imageDAO" class="com.dao.impl.ImageDAOImpl"/>
	
	<bean id="workflowService" class="com.service.impl.WorkflowServiceImpl">
		<property name="workflowDAO" ref="workflowDAO"></property>
		<property name="workflowInfoDAO" ref="workflowInfoDAO"></property>
	</bean>

	<bean name="workflowDAO" class="com.dao.impl.WorkflowDAOImpl"/>
	<bean name="workflowInfoDAO" class="com.dao.impl.WorkflowInfoDAOImpl"/>
	
	<bean id="ReceiptInfoService" class="com.service.impl.ReceiptInfoServiceImpl">
		<property name="receiptInfoDAO" ref="receiptInfoDAO"></property>
	</bean>
	
	<bean name="receiptInfoDAO" class="com.dao.impl.ReceiptInfoDAOImpl"/>
	
<bean class="com.service.impl.KpiServiceImpl" id="kpiService">

		<property ref="kpiDAO" name="kpiDAO"/>
		
		<property ref="receiptInfoDAO" name="receiptInfoDAO"/>
		
		<property ref="imageDAO" name="imageDAO"/>
		
		<property ref="workflowDAO" name="workflowDAO"/>

</bean>

<bean class="com.dao.impl.KpiDAOImpl" name="kpiDAO"/>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/shopprice" />
		<property name="username" value="root" />
		<property name="password" value="tcs123" />
	</bean> 

</beans>